.container {
    max-width: 400px; /* Lebar maksimum kontainer form */
    margin: 0 auto; /* Posisi form di tengah halaman */
    padding: 20px; /* Ruang pembatas dari tepi form ke kontennya */
    border: 1px solid #ccc; /* Garis pinggiran untuk membuat tampilan kotak */
    border-radius: 5px; /* Sudut bulat untuk tampilan lebih menarik */
    background-color: whitesmoke; /* Warna latar belakang form */
  }